<!DOCTYPE html>
<html>
<head>
<title>MOBAN</title>
{load href="/tp5/public/static/css/login.css" /}
<!-- <link href="/static/css/login.css" rel='stylesheet' type='text/css' /> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
<script type="application/x-javascript">  </script>
</script>
<!--webfonts-->
 <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'> 
<!--//webfonts -->

</head>
<body>
	<h1></h1>
		<div class="app-location">
			<h2>后台登录</h2>
		<!-- 	<div class="line"><span></span></div> -->
			<!-- <div class="location"><img src="/tp5/public/static/images/location.png" class="img-responsive" alt="" /></div> -->
			<!-- <form action="" enctype="multipart/form-data"  method="post"> -->
				<input type="text" class="text" value="" onFocus="" onBlur="" placeholder="username" name="username" id="un">
				<input type="password" value="" onFocus="" onBlur="" placeholder="password" name="password" id="pw">
				<div style="display: none;color:#FF0000" id="wrongTips">密码或账号错误！</div>
				<div class="submit"><input type="submit" onclick="checklogin()" value="Sign in" id="submit"></div>
				<div class="clear"></div>
				<div class="new">
					<!-- <h3><a href="#">Forgot password ?</a></h3> -->
					<!-- <h4><a href="#">New here ? Sign Up</a></h4> -->
					<div class="clear"></div>
				</div>
			<!-- </form> -->
		</div>
	<!--start-copyright-->
   		<div class="copy-right">
				<p></p>
		</div>
	<!--//end-copyright-->
		{load href="/tp5/public/static/js/jquery-3.1.1.min.js" /}
	 <  {load href="/tp5/public/static/js/blog2.js" /} 
	
  
  
</body>
</html>