<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>blog</title>
<link rel="shortcut icon" type="image/x-icon" href="/tp5/public/static/images1/favicon.png" />
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap-grid.min.css" rel="stylesheet">
{load href="/tp5/public/static/css/style11.css" /}
<link href='http://fonts.googleapis.com/css?family=Amaranth:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
{load href="/tp5/public/static/js/jquery-1.6.4.min.js" /}
{load href="/tp5/public/static/js/ddsmoothmenu.js" /}
{load href="/tp5/public/static/js/jquery.jcarousel.js" /}
{load href="/tp5/public/static/js/jquery.prettyPhoto.js" /}
{load href="/tp5/public/static/js/carousel.js" /}
{load href="/tp5/public/static/js/jquery.flexslider-min.js" /}
{load href="/tp5/public/static/js/jquery.masonry.min.js" /}
{load href="/tp5/public/static/js/jquery.slickforms.js" /}
<!-- <script type="text/javascript" src="style/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="style/js/carousel.js"></script>
<script type="text/javascript" src="style/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="style/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="style/js/jquery.slickforms.js"></script> -->
<script type="text/javascript">
	

</script>
</head>
<body style="font-family:"microsoft yahei"!important;">
<!-- Begin Wrapper -->
<div id="wrapper">
	<!-- Begin Sidebar -->
	<div id="sidebar">
		 <div id="logo"><p style="color: white;font-size: 40px;text-align: center;margin-bottom: -10px"><!-- <img src="/tp5/public/static/images1/logo.png" alt="Caprice" /> -->My Blog</p></div>
		 
	<!-- Begin Menu -->
    <div id="menu" class="menu-v">
      <ul>
        <li><a href="{:url('index/index/blog')}" class="active">Blog</a>
        	<!-- <ul> 悬浮弹框
        		<li><a href="index.html">Home w/ Carousel</a></li>
        		<li><a href="index2.html">Home w/ Portfolio</a></li>
        		<li><a href="index3.html">Home w/ Testimonials</a></li>
        	</ul> -->
        </li>
        <li><a href="#">Diary</a>
        	<!-- <ul>
        		<li><a href="portfolio.html">Portfolio 4 Columns</a></li>
        		<li><a href="portfolio2.html">Portfolio 3 Columns</a></li>
        		<li><a href="portfolio3.html">Portfolio 2 Columns</a></li>
        		<li><a href="portfolio4.html">Portfolio 1 Column</a></li>
        		<li><a href="portfolio-post.html">Portfolio Post</a></li>
        	</ul> -->
        </li>
        <li><a href="#">My Plan</a>
        	<!-- <ul>
        		<li><a href="blog.html">Blog</a></li>
        		<li><a href="blog2.html">Blog w/ Sidebar</a></li>
        		<li><a href="post.html">Post</a></li>
        		<li><a href="post2.html">Post w/ Sidebar</a></li>
        	</ul> -->
        </li>
       
      </ul>
    </div>
    <!-- End Menu -->
    
    
    
<!--     <div class="sidebox">
    <ul class="share">
    	<li><a href="#"><img src="/tp5/public/static/images1/icon-rss.png" alt="RSS" /></a></li>
    	<li><a href="#"><img src="/tp5/public/static/images1/icon-facebook.png" alt="Facebook" /></a></li>
    	<li><a href="#"><img src="/tp5/public/static/images1/icon-twitter.png" alt="Twitter" /></a></li>
    	<li><a href="#"><img src="/tp5/public/static/images1/icon-dribbble.png" alt="Dribbble" /></a></li>
    	<li><a href="#"><img src="/tp5/public/static/images1/icon-linkedin.png" alt="LinkedIn" /></a></li>
    </ul>
    </div> -->
    
    <div class="sidebox">
    <div class="search">
      <h3>Search</h3>
      <form class="searchform" method="get">
          <input type="text" id="s" name="s" value="type and hit enter" onfocus="this.value=''" onblur="this.value='type and hit enter'"/>
      </form>
      <div class="clear"></div>
    </div>
    </div>
    
	</div>
	<!-- End Sidebar -->
	
	<!-- Begin Content -->
	<div id="content">
	<h1 class="title">Blog</h1>
	<div class="line"></div>
	<p style="font-size: 15px">这里是zzh's blog，加油！</p>
		
		{volist name='list' id='blog'}
		<!-- Begin Post -->
		<div class="post" style="border-top: 1px solid #eee;">
		<!-- <a href="post.html"><img src="/tp5/public/static/images1/art/slide1.jpg" alt="" /></a> -->
		
		<!-- Begin Info -->
		<div class="info">
		<!-- Begin Date -->
		<div class="date">
			<div class="day">{$blog.day}</div>
			<div class="month">{$blog.month}</div>
		</div>
		<!-- End Date -->
		
		<!-- Begin Meta -->
		<div class="meta">
			<h3 class="title"><a href="{:url('index/index/blog2',['dataId'=>$blog.dataId]);}" target="_blank" style="color: #259">{$blog.contentTitle}</a></h3>
			<div class="comments"><a href="#">11 Comments</a></div>
			<div class="tags"><a href="#">photography,</a> <a href="#">manipulation,</a> <a href="#">journal</a></div>
		</div>
		<!-- End Meta -->
		</div>
		<div class="clear"></div>
		<!-- End Info -->
		
		<p>{$blog.content}</p>
		
		</div>
		<!-- End Post -->
		
		{/volist}
		
		
		<!-- Begin Post -->
		
		<!-- End Post -->
		
		<!-- Begin Post -->
		
		<!-- End Post -->
		
		
		
		
		 <!-- Begin Page Navi -->
    			<div class="page-navi">
    				<ul>
    					<li><a href="#" class="current">1</a></li>
    					<li><a href="#">2</a></li>
    					<li><a href="#">3</a></li>
    					<li><a href="#"></a></li>
    					<li><a href="#"></a></li>
    				</ul>
    			</div>
    			<!-- End Page Navi -->
		
	<!-- Begin Footer -->
    
    <!-- End Footer -->
		
		
	</div>
	<!-- End Content -->
	
</div>
<!-- End Wrapper -->
<div class="clear"></div>
{load href="/tp5/public/static/js/scripts.js" /}
<!-- <script type="text/javascript" src="style/js/scripts.js"></script> -->
<!--[if !IE]> -->
{load href="/tp5/public/static/js/jquery.corner.js" /}
<!-- <script type="text/javascript" src="style/js/jquery.corner.js"></script> -->
<!-- <![endif]-->
<script type="text/javascript">
    // 点击图片变大变小，默认图片为200px.
    var test =document.getElementById("content").getElementsByTagName("img");
    for(var i=0;i<test.length;i++){
      test[i].style.height="200px";//设置图片的默认大小
      test[i].style.width="200px";
      
      var tes = test[i];
     test[i].onclick=function(){
        if(this.style.width=="200px"){
        this.style.width="400px";//点击后的大小
        this.style.height="400px";
       }else{
        this.style.width="200px";
        this.style.height="200px";
        //just test
       }
     }
}


</script>
</body>
</html>