<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>[title]</title>
<link rel="shortcut icon" type="image/x-icon" href="/tp5/public/static/images1/favicon.png" />
{load href="/tp5/public/static/css/bootstrap.min.css" /}
{load href="/tp5/public/static/css/style11.css" /}
<link href='http://fonts.googleapis.com/css?family=Amaranth:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

{load href="/tp5/public/static/js/jquery-1.6.4.min.js" /}
{load href="/tp5/public/static/js/ddsmoothmenu.js" /}
{load href="/tp5/public/static/js/jquery.jcarousel.js" /}
{load href="/tp5/public/static/js/jquery.prettyPhoto.js" /}
{load href="/tp5/public/static/js/carousel.js" /}
{load href="/tp5/public/static/js/jquery.flexslider-min.js" /}
{load href="/tp5/public/static/js/jquery.masonry.min.js" /}
{load href="/tp5/public/static/js/jquery.slickforms.js" /}

</head>
<body style="font-family:"microsoft yahei"!important;">
<!-- Begin Wrapper -->
<div id="wrapper">
  <!-- Begin Sidebar -->
  <div id="sidebar" style="background: #2E2E2E">
     <div id="logo"><p style="color: white;font-size: 40px;text-align: center;margin-bottom: -10px"><!-- <img src="/tp5/public/static/images1/logo.png" alt="Caprice" /> -->后台管理</p></div>

  <!-- Begin Menu -->
    <div id="menu" class="menu-v">
    <div style="color: #fff;text-align: center;">欢迎您:&nbsp;&nbsp;[username]&nbsp;&nbsp;<a href="/tp5/public/index/admin/exitAdmin?a=0" style="">退出</a></div>
    <hr style="background: #fff">
      <ul>
        <li><a href="admin" class="active">主页</a>
          <!-- <ul> 悬浮弹框
            <li><a href="index.html">Home w/ Carousel</a></li>
            <li><a href="index2.html">Home w/ Portfolio</a></li>
            <li><a href="index3.html">Home w/ Testimonials</a></li>
          </ul> -->
        </li>
        <li><a href="article">article添加</a>
          <!-- <ul>
            <li><a href="portfolio.html">Portfolio 4 Columns</a></li>
            <li><a href="portfolio2.html">Portfolio 3 Columns</a></li>
            <li><a href="portfolio3.html">Portfolio 2 Columns</a></li>
            <li><a href="portfolio4.html">Portfolio 1 Column</a></li>
            <li><a href="portfolio-post.html">Portfolio Post</a></li>
          </ul> -->
        </li>
        <li><a href="articleCharge">article管理</a>
          <!-- <ul>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="blog2.html">Blog w/ Sidebar</a></li>
            <li><a href="post.html">Post</a></li>
            <li><a href="post2.html">Post w/ Sidebar</a></li>
          </ul> -->
        </li>
        <li><a href="#"></a>
          <!-- <ul>
            <li><a href="buttons-boxes-images.html">Buttons Boxes Images</a></li>
            <li><a href="tabs-toggle-table.html">Tabs Toggle Tables</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="typography.html">Typography</a></li>
            <li><a href="service-icons.html">Service Icons</a></li>
          </ul> -->
        </li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <!-- End Menu -->
    
    
    
    
    
    
  </div>