{include file="admin/adminHead" title="admin" username="$username" /}
  <!-- End Sidebar -->
  
  <!-- Begin Content -->
  <div id="content">
  <h1 class="title" style="font-size: 40px">主页</h1>
  <div class="line"></div>
  <p style="font-size: 15px"></p>
    
    
    <!-- Begin Post -->
    <div class="post" style="border-top: 1px solid #eee;">
    <!-- <a href="post.html"><img src="/tp5/public/static/images1/art/slide1.jpg" alt="" /></a> -->
    
    <!-- Begin Info -->

    <div class="clear"></div>
    <!-- End Info -->
    

    
    </div>

  </div>
  <!-- End Content -->
  
</div>
<!-- End Wrapper -->
{include file="admin/adminFoot"}